@use '../Abstracts/index' as *;
header {
	position: fixed;
	width: 100%;
	z-index: 99999;
	.fiverr-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;
		&__left {
			flex-grow: 4;
			display: flex;
			align-items: center;
			height: 3.4rem;
			.img {
				margin-right: 1.5rem;
			}
		}
		&__right {
			flex-grow: 6;
			.nav-list {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				padding: 0;
				.nav-link {
					padding: 0 1rem;
					font-weight: bold;
					color: $color-secondary;
					transition: all 0.2s;
				}
				i {
					margin-right: 0.5rem;
				}
				.list-item:last-child {
					margin-left: 10px;
				}
			}
		}
	}
	.categories-menu {
		background-color: $bgc-1;
		border-top: 1px solid #e4e5e7;
		border-bottom: 1px solid #e4e5e7;
		transform: rotateX(90deg);
		transition: all 0.2s ease-in-out;
		.categories-menu-list {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	.categories-menu-item {
		position: relative;
		flex-shrink: 0;
		padding: 0 1rem;
		height: 3.7rem;
		&:nth-child(1) {
			padding-left: 0;
		}
		&:nth-child(9) {
			padding-right: 0;
		}
		.categories-menu-link {
			@include text(1.6rem, $color-primary, 400);
			padding: 5px 0;
		}
		&:hover .categories-menu-link:hover {
			opacity: 0.8;
			border-bottom: 3px solid $color-green-100;
		}
		.dropdown-menu {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			.subMenu__content {
				padding: 20px 32px;
				background-color: $bgc-1;
				column-gap: 4rem;
				box-shadow: 0 1px 3px #dadbdd;
				@include responsive(xl) {
					column-gap: 3rem;
					padding: 20px 28px;
				}
				.subMenu__bucket {
					padding: 0;
					padding-bottom: 12px;
					display: inline-block;
				}
				.sub-menu-item {
					width: max-content;
					p {
						@include text(1.6rem, $color-primary, 500);
						padding: 8px 0;
					}
					a {
						@include text(1.6rem, $color-gray-200);
						padding: 6px 0;
					}
				}
			}
		}
		&:hover .dropdown-menu {
			display: block;
		}
		.dropdown__fix {
			right: 0;
			left: unset;
		}
	}
	&.active {
		background-color: $bgc-1;
		height: 76px;
		.categories-menu {
			transform: rotateX(0);
		}
		.fiverr-nav__right {
			.nav-list {
				.nav-link {
					color: $color-primary;
					transition: all 0.3s;
					&:hover {
						color: #1dbf73;
					}
				}
				.btn-join {
					color: $color-green-100;
					border-color: currentColor;
					&:hover {
						color: white;
						border-color: $color-green-100;
					}
				}
			}
		}
	}
}
