@use '../Abstracts/index' as *;
.heros {
	.heros-content {
		overflow: hidden;
		position: relative;
		.hero-list {
			display: flex;
			transition: all 0.5s;
			.hero {
				flex: 0 0 100%;
				position: relative;
				&__info {
					position: absolute;
					width: 100%;
					z-index: 5;
					bottom: 10px;
					.wrapper-info {
						width: fit-content;
						width: -moz-fit-content;
						margin-left: auto;
					}
					.hero__star {
						font-size: 1.4rem;
						color: rgb(205, 182, 50);
					}
					.hero__text {
						color: $color-secondary;
						margin-top: 0.5rem;
						span {
							font-weight: bold;
						}
					}
				}
				img {
					height: 68rem;
					object-fit: cover;
					object-position: 70%;
				}
			}
		}
		.wrapper-container-search {
			position: absolute;
			z-index: 2;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			.heros__search {
				max-width: 650px;
				@include responsive(lg) {
					max-width: 560px;
				}
				.heros__caption {
					color: $color-secondary;
					word-spacing: 5px;
					letter-spacing: 1px;
					span {
						font-family: MediumItalic;
						letter-spacing: 3px;
					}
				}
				.popular {
					padding-top: $padding-2;
					display: flex;
					align-items: center;
					span {
						margin-right: 2rem;
						color: $color-secondary;
						font-weight: bold;
					}
					.heros__list {
						display: flex;
						align-items: center;
						li + li {
							margin-left: 0.8rem;
						}
					}
				}
			}
		}
	}
}
